/* Variables */

$brown: #362224;
$green: #7c9445;
$orange: #c77c39;
$lime: #d4ce70;
$cream: #dfd9bb;

/* Animations */

@-moz-keyframes animar { 
	0% { 
		background: url('../images/frame1.jpg'); 
	} 
	25% { 
		background: url('../images/frame2.jpg'); 
	} 
	50% { 
		background: url('../images/frame3.jpg'); 
	} 
	75% { 
		background: url('../images/frame4.jpg'); 
	} 
	100% { 
		background: url('../images/frame5.jpg'); 
	} 
}

/*@-moz-keyframes over { 
	0% { 
		color: $brown;
		top:0px;
	} 
	100% { 
		color:#cbcc8b;
		font-size:42px;
		top:-4px;
		left:-9px;
		text-shadow: 0px 0px 5px $brown, 0px 0px 10px $brown,  0px 0px 30px $brown, 0px 0px 60px $brown;
	} 
}*/

@-moz-keyframes over { 
	0% { 
	} 
	100% { 
		color:$green;
	} 
}

@-moz-keyframes over_brown { 
	0% { 
		color: $brown;
	} 
	100% { 
		color:$orange;
		text-shadow: 0px 0px 10px #cb843c, 0px 0px 20px #cb843c,  0px 0px 30px #cb843c;
	} 
}

@-moz-keyframes rotar {
	0% {
		-moz-transform:scale(1) rotate(0deg);
	}
	50% {
		-moz-transform:scale(1.5) rotate(180deg);
	}
	100% {
		-moz-transform:scale(1) rotate(360deg);
	}
}

@-moz-keyframes opacity { 
	0% { 
	} 
	100% { 
		opacity: 1;
	} 
}