/* line 17, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Fonts */
@font-face {
  font-family: 'social';
  src: url("../fonts/social_typography-webfont.eot");
  src: url("../fonts/social_typography-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/social_typography-webfont.woff") format("woff"), url("../fonts/social_typography-webfont.ttf") format("truetype"), url("../fonts/social_typography-webfont.svg#social") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'social';
  src: url("../fonts/social_typography-webfont.eot");
  src: url("../fonts/social_typography-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/social_typography-webfont.woff") format("woff"), url("../fonts/social_typography-webfont.ttf") format("truetype"), url("../fonts/social_typography-webfont.svg#social") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Variables */
/* line 40, ../sass/main.scss */
* {
  -moz-box-sizing: border-box;
}

/* line 44, ../sass/main.scss */
body {
  background: url("../images/pattern.jpg") repeat;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1;
}

/* line 49, ../sass/main.scss */
header {
  width: 100%;
  text-align: center;
  padding: 10px 0 120px 0;
  overflow: hidden;
  border-top: 4px solid #362224;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 77%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(77%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 77%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 77%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 77%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 77%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
}

/* line 64, ../sass/main.scss */
header img {
  margin: 20px auto 10px;
}

/* line 68, ../sass/main.scss */
h1 {
  font-family: League Gothic;
  font-size: 60px;
  color: #362224;
  line-height: auto;
  line-height: 76px;
}

/* line 76, ../sass/main.scss */
hr {
  color: transparent;
  border-top: 3px dashed #362224;
}

/* line 81, ../sass/main.scss */
hr:before {
  content: '';
  padding-right: 10px;
  width: 10px;
  height: 10px;
  background: #000;
}

/* line 90, ../sass/main.scss */
p {
  padding-bottom: 20px;
}

/* line 94, ../sass/main.scss */
nav {
  /*font-family:FFF Tusj;*/
  font-family: Costura;
  font-family: QuigleyWiggly;
  font-family: FontleroyBrown;
  font-family: League Gothic;
  position: absolute;
  z-index: 999;
  top: 306px;
  height: 60px;
  font-size: 28px;
  letter-spacing: 1px;
  width: 100%;
  background: url("../images/menu_bg.gif") repeat-x;
  box-shadow: 10px 20px 20px black;
  text-align: center;
}

/* line 113, ../sass/main.scss */
nav span.left, nav span.right {
  display: block;
  width: 73px;
  height: 75px;
  position: absolute;
  top: 0px;
}

/* line 121, ../sass/main.scss */
nav span.left {
  left: 0px;
  background: url("../images/menu_left_bg.png") repeat-x;
}

/* line 126, ../sass/main.scss */
nav span.right {
  display: block;
  right: 0px;
  background: url("../images/menu_right_bg.png") repeat-x;
}

/* line 132, ../sass/main.scss */
nav a {
  text-decoration: none;
  color: #dfd9bb;
}

/* line 137, ../sass/main.scss */
nav a:hover {
  -moz-animation: over 0.3s ease-out forwards;
}

/* line 141, ../sass/main.scss */
nav ul {
  padding: 14px 20px;
}

/* line 145, ../sass/main.scss */
nav li {
  display: inline;
  position: relative;
  padding: 0 40px;
  border-left: 1px solid #5d4c46;
  color: #dfd9bb;
}

/* line 153, ../sass/main.scss */
nav li:first-child {
  border: none;
}

/* line 157, ../sass/main.scss */
nav li ul {
  position: absolute;
  top: 45px;
  left: 0px;
  min-width: 100%;
  padding: 20px 0px;
  background: #362224;
  border-top: 1px solid #7c9445;
  display: none;
  font-size: 25px;
}

/* line 168, ../sass/main.scss */
nav li ul:before {
  border-color: transparent transparent transparent #362224;
  border-style: solid;
  border-width: 50px;
  border-left: 100px solid #362224;
  bottom: -50px;
  content: " ";
  display: block;
  position: absolute;
}

/* line 180, ../sass/main.scss */
nav li ul:after {
  border-color: transparent #362224 transparent transparent;
  border-width: 50px;
  border-style: solid;
  border-right: 100px solid #362224;
  bottom: -50px;
  right: 0px;
  content: " ";
  display: block;
  position: absolute;
}

/* line 193, ../sass/main.scss */
nav li ul li {
  display: block;
  border: none;
  padding: 0 40px 10px;
}

/* line 199, ../sass/main.scss */
nav li ul li:before {
  content: 'j';
  display: block;
  text-align: center;
  color: #7c9445;
  font-family: Nymphette;
  font-size: 15px;
  padding: 0 0 10px;
}

/* line 208, ../sass/main.scss */
.fixed-top {
  position: fixed;
  top: 0px;
}

/* line 212, ../sass/main.scss */
.social-icon {
  opacity: 0.6;
}

/* line 216, ../sass/main.scss */
.social-icon:hover {
  -moz-animation: opacity .4s linear forwards;
}

/* line 220, ../sass/main.scss */
.animacion {
  width: 1024px;
  margin: 0 auto;
  height: 475px;
  background: url("../images/frame1.jpg");
}

/* line 227, ../sass/main.scss */
.animacion:hover {
  -moz-animation: animar 1s forwards;
}

/* line 231, ../sass/main.scss */
.parentesis {
  font-family: League Gothic;
  font-size: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #362224;
  display: none;
}

/* line 241, ../sass/main.scss */
.parentesis:hover {
  -moz-animation: over_brown 0.5s forwards;
}

/* line 245, ../sass/main.scss */
.social-networks {
  font-family: social;
  font-size: 100px;
  background: #362224;
}

/* line 251, ../sass/main.scss */
.social-networks a {
  color: #dfd9bb;
  text-decoration: none;
  line-height: 106px;
}

/* line 257, ../sass/main.scss */
.social-networks a:hover {
  -moz-animation: over 0.3s ease-out forwards;
}

/* line 263, ../sass/main.scss */
#butler {
  width: 800px;
  height: 400px;
  position: relative;
  background: #7c9445;
}

/* line 270, ../sass/main.scss */
#bocadillo {
  display: none;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  background: #dfd9bb;
  position: absolute;
  z-index: 9;
  top: 10px;
  right: 10px;
  box-shadow: 5px 5px 15px #000;
}

/* line 283, ../sass/main.scss */
.images-grid {
  width: 1060px;
  margin: 0 auto;
}

/* line 288, ../sass/main.scss */
.images-grid li {
  display: block;
  width: 320px;
  height: 260px;
  float: left;
  border-right: 1px dashed #362224;
  border-top: 1px dashed #362224;
}

/* line 297, ../sass/main.scss */
.images-grid li img {
  width: 288px;
  height: 242px;
  padding: 8px 16px;
}

/* line 303, ../sass/main.scss */
.images-grid li:nth-child(-n+3) {
  border-top: none;
}

/* line 307, ../sass/main.scss */
.images-grid li:nth-child(3n) {
  border-right: none;
}

/* line 311, ../sass/main.scss */
.images-grid li:nth-child(odd) .popover {
  background: #7c9445;
}

/* line 315, ../sass/main.scss */
.images-grid li:nth-child(odd) .popover a {
  color: #362224;
}

/* line 319, ../sass/main.scss */
.popover {
  background: #c77c39;
  color: #dfd9bb;
  opacity: .9;
  padding: 20px;
}

/* line 326, ../sass/main.scss */
.popover strong {
  font-family: League Gothic;
  font-size: 35px;
  line-height: 50px;
}

/* line 332, ../sass/main.scss */
.popover a {
  color: #dfd9bb;
  position: absolute;
  bottom: 20px;
  right: 16px;
}

/* line 339, ../sass/main.scss */
.popover a:before {
  content: '';
  float: left;
  border-left: 7px solid #362224;
  border-right: 7px solid transparent;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  margin-right: 5px;
}
